

.ReportModal {
    width: 530px;
    height: 700px;
    padding: 25px;
    color: #ececec;
    background-color: red;
    background: #4E4E4E;
    border-radius: 10px;
    border: 1px solid #ececec;
}

h1{
    padding-bottom: 20px;
}
.name{
    width: 100%;
    height: 40px;
    padding: 10px;
    padding-left: 15px;
    background-color: #6F768A;
    border-radius: 2px;
}
.report{
    width: 100%;
    height: 160px;
    padding: 15px;
    background-color: #6F768A;
    border-radius: 2px;
    word-break:break-all;
}


.process{
    display: flex;
    width: 100%;
    height: 40px;
    margin-top: 15px;
   
    /* background-color: red; */
}
.process_reportman{
    display: flex;
    align-items: center;
    width: 50%;
    /* height: 100%; */
    /* background-color: red; */
}

.process_title{
    /* height: 100%; */
    margin-right: 4px;
    font-size: 18px;
}
.process_name{
    background-color: #6F768A;
    width: 150px;
    height: 40px;
    /* margin-left: 20px; */
    padding: 10px;
    text-align: center;
    border-radius: 2px;
}
.process_sanctions{
    /* background-color: skyblue; */
    display: flex;
    align-items: center;
    width: 50%;
    /* padding-left: 10px; */
    margin-left: 20px;
    /* margin-left: 80px; */
    /* width: 50%; */
}
.process_select{
    padding: 10px;
    height: 40px;
    width: 150px;
}

.process_select select{
    width: 100%;
    height: 100%;
    
}

.btnbox{
    margin-top: 40px;
    /* background-color: red; */
    width: 100%;
    display: flex;
    justify-content: center;
}


.btnbox button{
font-family: 'DungGeunMo';
  width: 140px;
  height: 50px;
  font-size: 18px;
  border-style: none;
  border-radius: 5px;
  color: #ececec;
}

.btn_no{
    background-color: #242B3E;
}

.btn_ok{
    background-color: #ABD752;
}