.modal {
    top: 100px;
    position: absolute;
    width: 230pt;
    height: 500pt;
    right: 20%;
    display: none;
    flex-direction: column;
    align-items: center;
    background: black;
    border: 2px solid #C9FD61;
    padding: 5px 20px;
    border-radius: 25pt;
}
.chat_title_box {
    display: flex;
    width: 100%;
    flex-flow: row;
    justify-content: space-between;
    font-family: 'DungGeunMo';
    font-size: 35pt;
    color: #cecece;
}

.chat_exit_btn {
    font-size: 15pt;
    height: fit-content;
    cursor: pointer;
    justify-content: center;
}

.chat_search_bar{
    background-color: #cecece;
    border-radius: 6pt;
    width: 100%;
    font-family: 'DungGeunMo';
    color: black;
    font-size: 13pt;
    padding: 1%;
}

.chat_talk_box{
    display: flex;
    flex-flow: row;
    color: #cecece;
    border: 1pt solid #cecece;
    margin-top: 10pt;
    padding: 5pt 5pt;
    border-radius: 5pt;
}

.chat_profile{
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}

.chat_talk_content{
    font-size: 13pt;
    border: 1pt solid #cecece;
    margin-top: 10pt;
    padding: 5pt 5pt;
    border-radius: 5pt;
}


.chat_time_box{
    font-size: 10pt;
    margin-top: auto;

}

.chat_time {
    padding-left: 3pt;
    white-space: nowrap;
    white-space: nowrap;
    display: inline-block;
}

.chat_temp {
    position: relative;
    display: flex;
    width: 100%;
    height:88%;
    flex-flow: column;
    justify-content: space-between;
}

.modal_box{
    position: relative;
    height: 100%;
    width: 100%;
}

.chat_input {
    width: 100%;
}

#message_form{
    display: flex;
    flex-direction: row;
}