*{
    box-sizing: border-box
}
.modal {
    position: absolute;
    width: 370px;
    height: 600px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.692);
    border: 1px solid #C9FD61;
    padding: 0px 0px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    border-radius: 25px;
    z-index: 1000;
}
.chat_title_box {
    display: flex;
    width: 100%;
    flex-flow: row;
    justify-content: space-between;
    font-family: 'DungGeunMo';
    font-size: 25px;
    padding-bottom: 1px;
    padding-top:10px;
    color: #cecece;
    padding-left: 15px;
    padding-right: 10px;
}

.chat_exit_btn {
    display: flex;
    font-size: 25px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.chat_search_bar{
    background: #ececec;
    border: #ececec solid 1px;
    border-radius: 6pt;
    width: 97%;
    font-family: 'DungGeunMo';
    color: #222222;
    font-size: 13pt;
    margin-left: 5px;
}

.chat_temp {
    display: flex;
    width: 100%;
    height:85.1%;
    flex-flow: column;
    justify-content: space-between;
    color:#cecece;
    overflow-y: scroll;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.chat_temp::-webkit-scrollbar{
    width: 3px;
}

.chat_temp::-webkit-scrollbar-thumb{
    background: #C9FD61; /* 스크롤바의 색상 */
    border-radius: 10px;
}

.chat_temp::-webkit-scrollbar-track{
    background: black;

}

.modal_box{
    position: relative;
    height: 100%;
    width: 100%;
}

.chat_input {
    width: 100%;
    border-radius: 0px 0px 0px 20px;
    border:none;
    padding-left: 20px;
    font-size:20px;
    padding: 0;
    padding-left: 12px;
    
}

.message_form{
    position: relative;
    display: flex;
    flex-flow: row;
    width: 100%;
}

.title_search{
    height: 10%;
}

.chat_list_day{
    text-align: center;
    border-radius: 10px;
    margin: auto;
    width:40%;
    background-color: #444444;
    padding-top: 5px;
    padding-bottom: 5px;
}


.input_button{
    position: relative;
    display: block;
    font-size: 20px;
    height: 30px;
    width: 30px;
    border: solid #444444 1px;
    border-radius: 0px 0px 25px 0px;
    background-color: #C9FD61;
    border: 0;
    padding: 0 0 0 0;
}