.MyPage {
    font-family: 'DungGeunMo';
    color: #ececec;
    padding-left: 15px;
    padding-right: 15px;
}

.MyPage_body {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-top: 20px;
}

.MyPage_body_profile {
    display: flex;
    flex-flow: column;
    gap: 10px;
}


.MyPage_body_profile_box{
    position: relative;
}

.MyPage_body_profile_box > .picture {
    width: 180px;
    height: 180px;
    border: solid 1px white;
    border-radius: 50%;
    overflow: hidden;
}
.MyPage_body_profile_box > .camera {
    position: absolute;
    width: 40px;
    height: 35px;
    left: 130px;
    bottom: 10px;
}
.MyPage_body_profile > .name {
    font-size: 20px;
    text-align: center;
}

.name > .name2 {
    font-size: 16px;
    text-align: center;
}
