@font-face {
    font-family: 'DungGeunMo';
    src: url('../../../assets/fonts/DungGeunMo.ttf');
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    column-gap:10px;
    background: #BCC4BB;
    border-radius: 0px 8px 8px 8px;
    padding:20px;
    gap: 10px;
}


/* 컨테이너 1번째 카드 스타일링 */
.container > :nth-child(1){
    grid-column: 1 / span 2;
    border-color: #C9FD61;
    color: #C9FD61;
    border-width: 3px;
}

.container > :nth-child(1){
    grid-column: 1 / span 2;
    border-color: #C9FD61;
    border-width: 3px;
}

.container > :nth-child(1) > button{
    background-color: #C9FD61;
    color: #222222;
    border-radius: 5px;
}