.ClientMyLog {
    font-family: 'DungGeunMo';
    color: #ececec;
    padding-left: 15px;
    padding-right: 15px;
}
.log_box{
    display: flex;
    height: 200px;
    justify-content: space-between;
    margin-top: 10px;
    
}
.log_graph{
    padding: 15px;
    display: flex;
    width: 58%;
    background-color: black;
    border-radius: 5px;
    border: 1px solid white;
}
.log_recommend{
    padding: 15px;
    width: 40%;
    border-radius: 5px;
    background-color: black;
    border-radius: 5px;
    border: 1px solid white;
}

.sub_content{
    margin-top: 10px;
    height: 200px;
}

.sub_info{
    height: 200px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: black;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}