@font-face {
    font-family: 'DungGeunMo';
    src: url('../../assets/fonts/DungGeunMo.ttf');
}

.schedule {
    font-family: 'DungGeunMo';
    color: #ececec;
    width: 75%;
    position: fixed;
    margin-top: 40px;
}

.schedule_header {
    font-size: 32px;
    margin-bottom: 20px;
}

.schedule_comment {
    border-bottom: 1px solid #ececec;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.schedule_menu {
    font-size: 26px;
    margin-top: 50px;
    margin-bottom: 15px;
}

.card_list {
    border: 1px solid grey;
    padding: 1%;
    display: flex;
    border-radius: 6px;
    justify-content: space-between;
}

