
.log_box {
    display: none;
    font-family: 'DungGeunMo';
    display: grid !important;
    position: absolute;
    grid-template-rows: 50px 240px 50px 200px 50px;
    justify-items: center;
    align-items: center;
    height: 550px;
    width: 350px;
    bottom:100px;
    background-color: #222222;
    border-radius: 10px;
    padding: 20px;
    z-index: 100;
    row-gap: 5px;
    border: #C9FD61 1px solid;
}


.top_title {
    color: #ececec;
    font-size: 20px;
}
.check_label {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 0%;
    padding: 0;
    justify-content: center;
    align-items: center;
}
.check_content {
    appearance: none;
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid #C9FD61; 
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.check_content:checked {
    background: #C9FD61;
    border: none;
}
.check_outbox {
    padding-left: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: #C9FD61 2px solid;
    background-color: #D9D9D9;
}
.check_inbox {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 40% 60%;
    justify-content: center;
    align-items: center;
}

.input_box {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: #C9FD61 2px solid;
    background-color: #D9D9D9;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.button_box {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-around;
}

.send_button {
    font-family: 'DungGeunMo';
    font-size: 17px;
    width: 86px;
    height: 38px;
    border: none;
    border-radius: 5px;
    background-color: #C9FD61;
    cursor: pointer;
}

.exit_button {
    font-family: 'DungGeunMo';
    font-size: 17px;
    width: 86px;
    height: 38px;
    border: none;
    border-radius: 5px;
    border: 1px solid #ececec;
    background-color: #999999;
    cursor: pointer;
}

