.info_content_box {
    /* background-color: skyblue; */
    width: 100%;
    padding-left: 20px;
}


/* 컨텐츠 부분 */

.content_title {
    font-size: 20px;
    width: 100%;
}

.content_content {
    margin-top: 10px;
}

.content_list {
    padding: 0;
}

.content_item {
    margin-bottom: 5px;
    width: 100%;
    font-size: 17px;
    height: 63px;
    background-color: #F1F3FB;
    color: black;
    border-radius: 5px;
    display: flex;
    border: 1px solid black;
}

.item_info {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.item_info div {
    text-align: left;
}

.item_info_box {
    width: 100%;
    padding: 20PX;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item_btn {}

.item_btn button {
    width: 50px;
    height: 30px;
    border: none;
    border-radius: 3px;
    font-family: 'DungGeunMo';
    font-size: 14px;
    /* color: #ececec; */
}

.btn_positive {
    background-color: #C9FD61;
}

.btn_negative {
    background-color: #242B3E;
    color: #ececec;
}