@font-face {
    font-family: 'DungGeunMo';
    src: url('../../assets/fonts/DungGeunMo.ttf');
}

.ManagerHome {
    font-family: 'DungGeunMo';
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    height: 750px; 
}


/* 중간 부분 */
.info_box{
    color: #ececec;
    display: flex;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
}

