@font-face {
    font-family: 'DungGeunMo';
    src: url('../../assets/fonts/DungGeunMo.ttf');
}

.body_title_box {
    width: 100%;
    border-bottom: 1px #ececec solid;
    
}

.body_title_bigtxt {
    font-family: 'DungGeunMo';
    font-size: 32px;
    color: #ececec;
    padding-bottom: 15px;
}

.body_title_smtxt{
    font-family: 'DungGeunMo';
    font-size: 16px;
    color: #ececec;
    margin-bottom: 15px;
}