@font-face {
    font-family: 'DungGeunMo';
    src: url('../../assets/fonts/DungGeunMo.ttf');
}


/* 홈 부분 */
body {
    margin-bottom: 3%;
}
.Home {
    font-family: 'DungGeunMo';
    color: #ececec;
    padding-left: 15px;
    padding-right: 15px;
}

.home_header {
    font-size: 32px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    text-shadow: 2px 2px 2px black;
}

.home_comment {
    border-bottom: 1px solid #ececec;
    padding-bottom: 15px;
}


/* 이달의 트레이너 부분 */

.home_trainer_box {
    height: 320px;
    /* background-color: #454648; */
    background-color: rgb(26, 25, 25);
    border-radius: 10px;
    /* border: 1px solid #ececec; */
}

.home_trainer_list {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #ececec;
    border-radius: 5px;
}

.home_trainer_item {
    width: 210px;
    height: 290px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #ececec;
    background-color: #ececec; 
}

.home_trainer_item:hover {
    background-color: #a2e392;
}

.home_trainer_img {
    width: 100%;
    padding: 5%;
    height: 202px;
    border-radius: 1200px;
}

.home_trainer_img img {
    width: 100%;
    height: 100%;
    border-radius: 100px;
}

.home_trainer_info {
    color: #000000;
    padding-left: 10px;
    /* background-color: white; */
}

.home_title {
    font-size: 32px;
    padding-top: 20px;
    padding-bottom: 15px;
    text-shadow: 2px 2px 2px black;
}

li {
    list-style: none;
}

.home_trainer_name {
    font-weight: bold;
    margin-top: 5px;
}

.home_trainer_rate {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    margin-right: 20%;
}
.star_rate {
    font-size: 15px;
    margin-top: 2.5px;
}
.star_icon {
    color: #FFF500;
    font-size: 18px;
}
.border_star_icon {
    color:rgb(78, 78, 78);
    font-size: 18px;
}

.home_trainer_introduce {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 13px;
}


/* 이달의 리뷰 부분 */

.home_review_box {
    height: 170px;
    background-color: rgb(26, 25, 25);
    border-radius: 5px;
    box-shadow: 2px 2px 2px #ececec;
}

.home_review_list {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #ececec;
    border-radius: 5px;
}

.home_review_item {
    padding: 10px 10px 0px 10px;
    /* background-color: #ececec; */
    width: 210px;
    height: 140px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    color: #000000;
    border: 1px solid white;
    background-color: #bae1b0; 
}
.home_review_top {
    display: flex;
    align-items: center;
}

.home_review_img {
    width: 40px;
    height: 40px;
}

.home_review_img img {
    width: 90%;
    height: 90%;
    border-radius: 40px;
    margin-left: 2px;
}

.home_review_name {
    padding-left: 8px;
    font-weight: bold;
    margin-bottom: 5px;
}

.home_review_mid {
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.home_review_start {
    color: #FFF500;
    font-size: 28px;
    padding-left: 10px;
}

.home_review_cusname {
    font-size: 14px;
}

.home_review_bottom {
    background-color: rgb(255, 255, 255);
    padding: 4px;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 5px;
    height: 35%;
}
