@font-face {
    font-family: 'DungGeunMo';
    src: url('../../assets/fonts/DungGeunMo.ttf');
}

.Home {
    font-family: 'DungGeunMo';
    color: #ececec;
    padding-left: 15px;
    padding-right: 15px;

    
}

.home_title {
    font-size: 32px;
    padding-top: 20px;
    padding-bottom: 15px;
}

.home_trainer_box {
    height: 320px;
    background-color: red;
    border-radius: 10px;
}

.home_comment {
    border-bottom: 1px solid #ececec;
    padding-bottom: 15px;
}