/* 둥근모체 (디지털체) 불러오기 */
@font-face {
  font-family: 'DungGeunMo';
  src: url('../../assets/fonts/DungGeunMo.ttf');
}

/* 폰트 and 색깔 */
.whitefont{
  font-family: 'DungGeunMo';
  color: #ececec;
}

/* nav의 가장 바깥쪽 박스 */
.nav_box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  padding: 0, 375px;
  gap: 10px;
}

/* nav 오른쪽 메뉴박스 */
.nav_menubox{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 10px;
  gap: 100px;
  font-size: 24px;
  white-space: nowrap;
}

/* Navbar 오른쪽 박스에서 쪽지모양과 프로필 담는 박스 */
.mail_profile_box{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 30px;
  height: 100%;
}

/* 쪽지와 프로필 담는 박스 안의 프로필 담는 박스 */
.profile_box{
  border: 2px solid;
  border-radius: 50%;
  object-fit: fill;
  width:45px;
  height: 45px;
}

/* 쪽지(메일) 이미지 담는 박스 */
.mail_box{
  cursor: pointer;
  position: relative;
}

/* 메일에서 숫자 담는 박스 */
.mail_count_box{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top:0;
  right: 0;
  font-size:9pt;
  background-color: red;
  border-radius: 100px;
  width: 26.34px;
  height: 15.81px;
}

/* 로고 텍스트 */
.logo_text{
  font-family: 'DungGeunMo';
  font-weight: 400;
  font-size: 76px;
  text-align: center;
  border-bottom: 4pt solid #C9FD61;
  border-top: 4pt solid #C9FD61;
  padding-bottom: 5px;
  padding-left: 4pt;
}
/* 로고 담는 박스 */
.logo_box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* link 색깔 하얗게 */
a{
  color: #ececec;
}

.mail_img{
  filter: none
}

.nav_menu_text:hover{
  border: #C9FD61 solid 1px;
}
