@font-face {
    font-family: 'DungGeunMo';
    src: url('../../../assets/fonts/DungGeunMo.ttf');
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    column-gap:10px;
    background: #BCC4BB;
    border-radius: 8px;
    padding:20px;
    gap: 10px;
}

.container > * {
    font: 'DungGeunMo';
}