.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: #BCC4BB; */
    background: black;
    border: 1px solid #ececec;
    border-radius: 8px;
    padding:20px;
    gap: 10px;
} 
.flex_row {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 20px;
}

.grid_2_row {
    display: grid;
    width: 100%;
    background-color: black;
    border-radius: 7px;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr) ;
    padding: 10px 20px 10px 20px;
    row-gap: 20px;
    column-gap: 10px;
    margin-top: 20px;
}

.pagination {
    grid-column: 1;
}

.back_btn{
    border: none;
    background-color: #90E8A3;
    border-radius: 7px;
    width: 140px;
    height: 50px;
    cursor: pointer;
}