
.MyPage_body_profile {
    color: #222222;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.MyPage_body_profile_box{
    position: relative;
}

.MyPage_body_profile_box > .picture {
    width: 180px;
    height: 180px;
    border: solid 1px white;
    border-radius: 50%;
    overflow: hidden;
}

.MyPage_body_profile > .name {
    font-size: 20px;
    text-align: center;
}

.name > .name2 {
    font-size: 16px;
    text-align: center;
}

.button_chat{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 140px;
    height: 50px;
    font-family: 'DungGeunMo';
    font-size: 15px;
    background-color: #C9FD61;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}