/* 바탕 그라데이션, 패딩 */
.background {
  padding: 0px 375px;
  margin: 0;
  background: linear-gradient(257.74deg, #101112 0.04%, #4E4E4E 101.31%);
  height: 100%;
}



/* test용 */
.NBtn {
  background: blue;
  color: red;
  cursor: pointer;
}
.blue {
  color: blue;
}