* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(257.74deg, #101112 0.04%, #4E4E4E 101.31%);
}

.App{
  min-width: 970px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.pagination button {
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
  border: 1px solid lightgray;
  border-radius: 0.25rem;
  background-color: white;
  outline: none;
  cursor: pointer;
}

.pagination button:hover {
  background-color: lightgray;
}

.pagination .active {
  background-color: lightblue;
  color: white;
}