@font-face {
    font-family: 'DungGeunMo';
    src: url('../../assets/fonts/DungGeunMo.ttf');
}

.CustomerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'DungGeunMo';
    color: #ececec;
    width: 970px ;
    height: 70px;
    margin: 0;
}

.head_menu {
    display: flex;
    justify-content: space-between;
    width: 40%;
    font-size: 18px;
}

.head_logo {
    font-family: 'DungGeunMo';
    font-weight: 400;
    font-size: 56px;
    color: #ececec;
    border-bottom: 4pt solid #C9FD61;
    border-top: 4pt solid #C9FD61
}

.head_text {
    white-space: nowrap;
}

.head_text:hover {
    white-space: nowrap;
    color: #C9FD61;}

a {
    text-decoration: none;
    color: #ececec;
}