@font-face {
    font-family: 'DungGeunMo';
    src: url('../../assets/fonts/DungGeunMo.ttf');
}

.card_item {
    display: grid;
    width: 100%;
    grid-template-columns: 60px 1fr 1fr  70px;
    align-items: center;
    border: 1px solid #ececec;
    background-color: #2f2f2f;
    border-radius: 6px;
    padding: 10px;
}

.card_item_img {
    height: 10%;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 30px;
    float: left;
}   

.card_item_info {
    text-align: center;
    float: left;
    margin-left: 10%;
}

.card_item_info_txt {
    margin-top: 5px;
    margin-bottom: 5px;
}

.button{
    border: none;
    background-color: #777777;
    border-radius: 5px;
}
