.header {
    font-size: 32px;
    padding-bottom: 15px;
}

.trainer_list{
    padding: 15px;
    display: flex;
    width: 100%;
}
.trainer_item{
    background-color: #ececec;
    width: 25%;
    /* width: 230px; */
    height: 100%;
    border-radius: 10px;  
}

.trainer_img{
    width: 100%;
    height: 100%;
    padding: 5%;
}

.trainer_img img{
    width: 100%;
    height: 100%;
}

.trainer_info{
    color: #000000;
    padding: 10px;
}

li {
    list-style: none;
}