.header {
    font-size: 32px;
    padding-bottom: 15px;
}

.trainer_list{
    width: 100%;
    display: grid;
    padding-left: 0px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 250px 250px;
    justify-items: center;
    row-gap: 10px;
    column-gap: 10px;

} 
.trainer_item{
    border: #D0E2A6 2.5px solid;
    background-color: rgba(108, 101, 101, 0.297);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 7px;  
}
canvas{

    aspect-ratio: auto 500 / 500;
}

.trainer_img{
    padding: 5%;
    width: 150px;
    height: 150px;
    border-radius: 70px;
}

.trainer_img img{
    width: 100%;
    height: 100%;
    border-radius: 70px;
    border: #D0E2A6 2px solid;
}

.trainer_info{
    color: #000000;
    padding: 10px;
}

li {
    list-style: none;
}

.star_box {
    margin: 1% 13% 1% 13%;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.star_rate {
    font-size: 13px;
}
.star_icon {
    color: rgb(221, 203, 12);
}

.border_star_icon {
    color: rgb(148, 147, 147);
}
.content_box2 {
    background-color: #ececec;
    border-radius: 4px;
    padding: 6px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #000;
    width: 190px;
    height: 80px;
    padding-top: 15px;
    margin-top: 3px;
}