.calendar {
  width: 100%;
  height: 100%;
  font-family: 'DungGeunMo';
  /* border: 1px solid #808080; */
  border-radius: 5px;
  padding: 5px 5px 0px 5px;
  background-color: whitesmoke;
}
.calendarBody {
  width: 95%;
  height: 90%;
  margin-top: 1%;
  margin-left: 2%;
  margin-right: 2%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 0.5%;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 5px;
}
.header {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 5px;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  color:black;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.headerColStart {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1%;
}

.headerColText {
  font-size: 0.8em;
}

.headerColTextMonth {
  margin-right: 5px;
  font-size: 1.6em;
  font-weight: 400;
}

.calendarDays {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 0.65em;
  padding: 2px;
  color: black;
}

.calendarDaysCol {
  width: 14%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 1%;
  border-radius: 2px;
  margin-bottom: 7px;
}

.body {
  width: 100%;
  height: 89%;
  display: flex;
  flex-direction: column;
  color: black;
}

.bodyRow {
  width: 100%;
  height: 100%;
  margin-left: 1%;
  display: flex;
  flex-direction: space-between;
  color: black;
}

.bodyRowCol {
  width: 20%;
  margin-bottom: 1px;
  height: 78px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 3px;
  font-size: 0.8em;
}

.bodyRowCol > span {
  margin: 4px 0 0 4px;
}

.bodyRowColNotValid {
  color: #6e6e6e;
  border-radius: 3px;
  font-size: 0.8em;
  opacity: 60%;
}

.bodyRowColValid:hover {
  cursor: pointer;
  transform: scale(1.01);
  color: #c5c5c5;
}

.bodyRowColSellect {
  transform: scale(1.02);
  color: #C9FD61;
  font-weight: 500;
}

.openedHourIcon {
  width: 8px;
  height: 8px;
  color: #C9FD61;
  margin-top: 5px;
  margin-left: 5px;
}
.etc {
  color: #b8e858;
}
.cell:hover .etc{
  display:none;
}

.time{
  display: none;
}

.cell .time:nth-child(1){
  display: block;
}
.cell .time:nth-child(2){
  display: block;
}
.cell .time:nth-child(3){
  display: block;
}
.cell:hover .time{
  display: block;
}

.cell:hover .reservedSchedule {
  background-color: white;
  padding: 5px 3px 10px 3px;
}