@font-face {
    font-family: 'DungGeunMo';
    src: url('../../assets/fonts/DungGeunMo.ttf');
  }


.Signup {
    font-family: 'DungGeunMo';
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    background-color: skyblue;
}

.header {
    font-size: 90px;
    border-top: 4pt solid #c9fd61;
    border-bottom: 4pt solid #c9fd61;
    color: #ececec;
  }

  .header_box {
    display: flex;
    justify-content: left;
    width: 530px;
    
  }

