@font-face {
    font-family: 'DungGeunMo';
    src: url('../../assets/fonts/DungGeunMo.ttf');
  }


.Signup {
    font-family: 'DungGeunMo';
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    height: 750px;
    /* background-color: skyblue; */
}

.header {
    font-size: 90px;
    border-top: 4pt solid #c9fd61;
    border-bottom: 4pt solid #c9fd61;
    color: #ececec;
  }

  .header_box {
    display: flex;
    justify-content: left;
    width: 530px;
  }

  .form_box{
    width: 530px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 10px;
    
  }


.form_title{
    color: #ececec;
    font-size: 16px;
    margin-bottom: 12px;
}

form {
    border-bottom: 1px solid #ececec;
    border-top: 1px solid #ececec;
    height: 350px;
    padding: 20px;
    color: #ececec;
    background-color: #454648;
}